<p id="notice"><%= notice %></p>


<div class="card card-body content-width mx-auto">
<h4>Listing Accounts</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, admin_account_path(account) %></td>
        <td><%= account.mobile %></td>
        <td><%= account.email %></td>
        <td><%= link_to 'Edit', edit_admin_account_path(account) %></td>
        <td><%= link_to 'Destroy', admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="card-link">
<%= link_to 'New Account', new_admin_account_path %>
  
</div>
</div>
