<p id="notice"><%= notice %></p>


<div class="card card-body content-width mx-auto">
<h4>Listing Accounts</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.id, admin_account_path(account) %></td>
        <td><%= link_to account.phone_number, admin_account_path(account) %></td>
        <td><%= account.email %></td>
        <td><%= link_to 'Edit', edit_admin_account_path(account) %></td>
        <td><%= link_to 'Destroy', admin_account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="card-link">
<%= link_to 'New Account', new_admin_account_path, class: "btn btn-primary" %>
</div>
</div>
