
<div class="card card-body content-width mx-auto">
  
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-2">Account ID:</div>
        <div class="col-sm-2 text-dark"><%= @account.id %></div>
        <div class="col-sm-2"><%= link_to 'Edit', edit_admin_account_path(@account), class: "app-red" %> </div>
    </div>  
    <div class="row justify-content-center">
        <div class="col-sm-2">Mobile Phone:</div>
        <div class="col-sm-4 text-dark"><%= @account.phone_number %></div>
    </div>  
      <div class="row justify-content-center">
        <div class="col-sm-2">Email:</div>
        <div class="col-sm-4 text-dark"><%= @account.email %></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2">Device:</div>
        <div class="col-sm-4 text-dark"><%= @account.device_id %></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-2">Stripe Id:</div>
        <div class="col-sm-4 text-dark"><%= @account.stripe_customer_id %></div>
    </div> 
  </div> 

  <div class="float-right">
  </div>

  <ul class="nav nav-tabs" id="AccountViewTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Groups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="passes-tab" data-toggle="tab" href="#passes" role="tab" aria-controls="passes" aria-selected="false">Passes</a>
    </li>
  </ul>
  
  <div class="tab-content" id="AccountViewTabsContent">
    <div class="tab-pane fade show active" id="groups" role="tabpanel" aria-labelledby="groups-tab">
      <%= form_tag admin_account_path, local: true, method: :patch do %>
      <table class="table">
        <tbody>
          <% @groups.each do |group| %> 
          <tr>
            <td><%= check_box_tag 'group_ids[]', group.id, group.accounts.member?(@account) %>&nbsp;<%= group.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
        <%= submit_tag "Save", {class: "form-control"} %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
      <% if @account.orders.empty? %> 
        <h5 class="text-center m-5">No Orders</h5v>
      <% else %>
        <%= render partial: "order", collection: @account.orders  %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="passes" role="tabpanel" aria-labelledby="passes-tab">
      <table class="table" >
        <thead>
          <th scope="col">Status</th>
          <th scope="col">Purchaser (ID)</th>
          <th scope="col">Serial Number</th>
        </thead>
        <tbody>
          <% @account.passes.each do |pass| %>
              <tr>
                <td><%= pass.status %></td>
                <td><%= link_to "#{pass.purchaser.phone_number} (#{pass.purchaser.id})", admin_account_path(pass.purchaser) %></td>
                <td><%= pass.serial_number %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>





