<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @account.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<%= link_to 'Edit', edit_admin_account_path(@account) %> |
<%= link_to 'Back', admin_accounts_path %>
