<p id="notice"><%= notice %></p>


<div class="card card-body mx-auto">

<h4>Orders</h4>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>From</th>
      <th>Charged</th>
      <th>Commitment</th>
      <th>Pass Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.to_formatted_s(:db) %></td>
        <td><%= link_to order.account.phone_number, admin_account_path(order.account) %></td>
        <td><%= order.charge_amount_cents %></td>
        <td><%= order.commitment_amount_cents %></td>
        <td><%= order.pass_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>