<div id="carouselExampleControls" class="carousel slide carousel-fade content-width mx-auto" data-ride="carousel">
  <div class="carousel-inner">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
    <div class="carousel-item active" data-interval='1500'>
      <%= image_tag "howitworks/HowItWorks.001.png", class: "d-block w-75 mx-auto howitworks-img" %> 
    </div>
    <div class="carousel-item"  data-interval='1500'>
      <%= image_tag "howitworks/HowItWorks.002.png", class: "d-block w-75 mx-auto howitworks-img" %> 
    </div>
    <div class="carousel-item" data-interval='1500'>
      <%= image_tag "howitworks/HowItWorks.003.png", class: "d-block w-75 mx-auto howitworks-img" %> 
    </div>
    <div class="carousel-item" data-interval='1500'>
      <%= image_tag "howitworks/HowItWorks.004.png", class: "d-block w-75 mx-auto howitworks-img" %> 
    </div>
    <div class="carousel-item" data-interval='1500'>
      <%= image_tag "howitworks/HowItWorks.005.png", class: "d-block w-75 mx-auto howitworks-img" %> 
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
 </div>