
<div class="content-width container">
<h5>Step 2 of 3</h5>
<%= form_with url: 'merchants/onboard2' do |form| %>

    
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :merchant_addr1, "Address 1" %>
        <%= form.text_field :merchant_addr1, class: "form-control" %>
      </div>  
    </div>
  </div>
      
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :merchant_addr2, "Address 2" %>
        <%= form.text_field :merchant_addr2, class: "form-control" %>
      </div>  
    </div>
  </div>
      
  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
        <%= form.label :merchant_city, "City" %>
        <%= form.text_field :merchant_city, class: "form-control" %>
      </div>  
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <%= form.label :merchant_state, "State" %>
        <%= form.text_field :merchant_state, class: "form-control" %>
      </div>  
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :merchant_zip, "Zip" %>
        <%= form.text_field :merchant_zip, class: "form-control" %>
      </div>  
    </div>
  </div>
  
  
  <div class="row col justify-content-end mr-0 pr-0 ml-0">
      <%= form.submit "Next", class: "btn btn-primary" %>
  </div>
<% end %>    
</div>
