
<div class="container">
    
    <div class="row">
        <div class="col">Name</div>
        <div class="col">
            <%= @merchant.name %>
        </div>
    </div>
    
    <div class="row">
        <div class="col">Website</div>
        <div class="col">
            <%= link_to @merchant.website, @merchant.website %>
        </div>
    </div>
    
    <div class="row">
        <div class="col">Phone Number</div>
        <div class="col">
            <%=  @merchant.phone_number %>
        </div>
    </div>
    
</div>

<div class="container content-width products mt-5">
    <h5>Products</h5>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Max Price</th>
        </tr>
        <% @merchant.products.each do |p| %>
        <tr>
            <td>
                <%= p.name %>
            </td>
            <td>
                <%= number_to_currency(p.price(:dollars,@merchant)) %>
            </td>
            <td>
                <%= number_to_currency(p.price(:dollars)) %>
            </td>
        </tr>
        <% end %>
    </table>
</div>