
<div class="container content-width mx-auto">
    
    <div class="row justify-content-center">
        <div class="col-sm-4">Name</div>
        <div class="col-sm-8">
            <%= @merchant.name %>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-sm-4">Website</div>
        <div class="col-sm-8">
            <%= link_to @merchant.website, @merchant.website %>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-sm-4">Phone Number</div>
        <div class="col-sm-8">
            <%=  @merchant.phone_number %>
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <div class="col-sm-12">
            <% if @merchant.stripe_id %>
                <div class="stripe-dashboard-link btn btn-link" data-merchant-id="<%= @merchant.id %>" href="">Visit Stripe Dashboard</div>
            <% else %>
                <div class="stripe-connect btn btn-link" data-merchant-id="<%=@merchant.id %>" href=""><span>Connect Stripe Account</span></div>
            <% end %>
        </div>
    </div>
</div>

<%= form_for @merchant, url: {action: :update} do %>
<div class="container content-width products mt-5">
    <h5>Products</h5>
    <table class="table merchant-products">
          <thead>
            <th>Redeem?</th>
            <th class="text-left">Product</th>
            <th>Price</th>
        </thead>
        <% @products.each do |p| %>
        <tbody>
        <tr>
            <td width="10" class="text-center">
                <%= check_box_tag "products[#{p.id}]", p.id, p.can_redeem?(@merchant), {class: 'form-check-input product-redeem-checkbox'} %>
            </td>
            <td class="text-left">
                <%= p.name %>
            </td>
            <td>
                <%= number_to_currency(p.price(:dollars)) %>
            </td>
        </tr>
        </tbody>
        <% end %>
    </table>
    <div class="merchant-products-submit text-right" style="display: none">
        <%= submit_tag 'Save', {class: "btn btn-primary"}%>
    </div>
</div>
<% end # End of Form %> 

<div class="container content-width charges mt-5">
    <h5>Credits</h5>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        <% @merchant.charges.each do |c| %>
        <tr>
            <td><%= c[:created_at].to_date.to_formatted_s(:short) %></td>
            <td><%= number_to_currency(c[:amount_cents]/100.0) %></td>
        </tr>
        <% end %>
    </table>
</div>