
<div class="content-width container">
<h5>Create an account</h5>
<%= form_with model: @user, scope: 'user' do |form| %>
    
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :username, "Email" %>
        <%= form.text_field :username, class: "form-control" %>
      </div>  
    </div>
  </div>
  
    <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>  
    </div>
  </div>
  
  <div class="row col">
      <%= form.submit "Create Account", class: "btn btn-primary" %>
  </div>
<% end %>    
</div>
