<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>PAN</th>
      <th>Expiration</th>
      <th>CVC</th>
      <th>Pass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.pan %></td>
        <td><%= card.expiration %></td>
        <td><%= card.cvc %></td>
        <td><%= card.pass ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', admin_card_path(card) %></td>
        <td><%= link_to 'Edit', edit_admin_card_path(card) %></td>
        <td><%= link_to 'Destroy', admin_card_path(card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Card', new_admin_card_path %>
