<p id="notice"><%= notice %></p>

<div class="container content-width">
  
<h4>Promotions</h4>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Copy</th>
      <th>Product</th>
      <th>Price</th>
      <th>End date</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.status %></td>
        <td><%= link_to promotion.name, promotion  %></td>
        <td><%= promotion.copy %></td>
        <td><%= promotion.product %></td>
        <td><%= number_to_currency(promotion.value_dollars) %></td>
        <td><%= promotion.end_date.to_date.to_formatted_s(:short) %></td>
        <td><%= promotion.quantity %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path, class: "btn btn-primary" %>

</div>