<p id="notice"><%= notice %></p>

<div class="content-width mx-auto">
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <span class="float-right"><%= @promotion.status %></span>
      <h4><%= @promotion.name %></h4>
    </div>
    
    <div class="card-text">
      <h3>
        <%= @promotion.copy %>
      </h3>
      <strong>
        Good for <%= @promotion.product %>
      </strong>
      
      <div class="text-center">
        <div><h4><%= number_to_currency(@promotion.value_dollars) %></h4></div>
        <%= link_to "Buy Now", "#", class: "btn btn-primary" %>
        <div>
          <%= @promotion.quantity %> left
        </div>
      </div>
      <div>
        Ends <%= @promotion.end_date.to_date.to_formatted_s(:short) %>
      </div>
      
    </div>
  </div>
</div>
  
  <%=link_to "All Promotions", promotions_path %>
</div>



