<p id="notice"><%= notice %></p>


<div class="card card-body content-width mx-auto">

<h4>Listing Passes</h4>

<table>
  <thead>
    <tr>
      <th>Serialnumber</th>
      <th>Expiration</th>
      <th>Passtypeidentifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passes.each do |pass| %>
      <tr>
        <td><%= pass.serialNumber %></td>
        <td><%= pass.expiration %></td>
        <td><%= pass.passTypeIdentifier %></td>
        <td><%= link_to 'Show', admin_pass_path(pass) %></td>
        <td><%= link_to 'Edit', edit_admin_pass_path(pass) %></td>
        <td><%= link_to 'Destroy', admin_pass_path(pass), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pass', new_admin_pass_path %>

</div>