<p id="notice"><%= notice %></p>


<div class="card card-body content-width mx-auto">

<h4>Listing Passes</h4>

<table>
  <thead>
    <tr>
      <th>Serialnumber</th>
      <th>Account</th>
      <th>Expiration</th>
      <th>Passtypeidentifier</th>
    </tr>
  </thead>

  <tbody>
    <% @passes.each do |pass| %>
      <tr>
        <td><%= link_to pass.serialNumber, admin_pass_path(pass) %></td>
        <td><%= link_to pass.account.phone_number, admin_account_path(pass.account) %></td>
        <td><%= pass.expiration %></td>
        <td><%= pass.passTypeIdentifier %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pass', new_admin_pass_path %>

</div>