<p id="notice"><%= notice %></p>

<p>
  <strong>Serialnumber:</strong>
  <%= @pass.serialNumber %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @pass.expiration %>
</p>

<p>
  <strong>Passtypeidentifier:</strong>
  <%= @pass.passTypeIdentifier %>
</p>

<p>
  <strong>Recipient</strong>
  <%= if @pass.account then @pass.account.name else "NA" end %>
</p>

<p>
  <strong>Message</strong>
  <%= @pass.message %>
</p>

<p>
  <strong>Card</strong>
  <%= link_to @pass.card.pan, admin_card_path(@pass.card) %>
</p>
<p>
  <%= link_to 'Download', pkpassUrl(@pass), download: true %>
</p>

<%= link_to 'Edit', edit_admin_pass_path(@pass) %> |
<%= link_to 'Back', admin_passes_path %>
