<p id="notice"><%= notice %></p>

<div class="content-width container">
  <h4>Pass Detail</h4>
<p>
  <strong>Serialnumber:</strong>
  <%= @pass.serial_number %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @pass.expiration %>
</p>

<p>
  <strong>Recipient</strong>
  <%= if @pass.account then @pass.account.name else "NA" end %>
</p>

<p>
  <strong>Sender</strong>
  <%= @pass.purchaser.name %>
</p>

<p>
  <strong>Message</strong>
  <%= @pass.message %>
</p>

<p>
  <strong>Status</strong>
  <%= @pass.status %>
</p>

<%= link_to 'Back', admin_passes_path %>
</div>

