<!DOCTYPE html>
<html>
<head>
  <title>TooU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <%= javascript_include_tag "https://unpkg.com/mithril/mithril.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-blue clearfix">
  <a href="#" class="nav-breadcrumb navbar-text pr-3"><i class="fas fa-angle-left"></i>&nbsp;<span id="nav-breadcrumb-text"></span></a>
  <a class="navbar-brand text-center mx-auto" href="/"><%= image_tag "TooULogoMini.png", {width: 100, height: 50} %></a> 
  
  <% if @current_user.admin? %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems" aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navItems">
  <ul class="navbar-nav">
     <li class="nav-item"> <%= link_to "Logs", '/admin/logs', class: 'nav-link black' %></li>
     <li class="nav-item"> <%= link_to "Passes", '/admin/passes', class: 'nav-link black' %></li>
     <li class="nav-item"> <%= link_to "Orders", '/admin/orders', class: 'nav-link black'  %></li>
     <li class="nav-item"> <%= link_to "Customers", '/admin/accounts', class: 'nav-link black'  %></li>
     <li class="nav-item"> <%= link_to "logout", '/logout', class: 'nav-link black' %></li>
        </ul>
  </div>
  <% end %>
  
</nav>

<div class="below-header">
<% unless request.host =~ /www\.toou\.gifts/ %>
<div class="alert alert-warning text-center m-2" role="alert">
  TEST VERSION <br/> Promotions are not real and credit cards will not be charged 
</div>
<% end %>
<div class="flash">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</div>

<%= yield %>

</body>
<footer class="footer">
  <div class="container w-100 text-center">
    <div class="text-muted">©2019 TooU Incorporated</div>
  </div>
</footer>
  
</div>
</html>
