<!DOCTYPE html>
<html>
<head>
  <title>TooU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <%= javascript_include_tag "mithril.2.0.0.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
<%= csrf_meta_tags %>
  <meta name="apple-itunes-app" content="app-id=1458939310">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= content_for?(:head) ? yield(:head) : "" %>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark clearfix">
  <a href="#" class="nav-breadcrumb"><i class="fas fa-angle-left"></i>&nbsp;<span id="nav-breadcrumb-text"></span></a>
  <a class="navbar-brand mx-auto" href="/"></a>
</nav>

<div class="below-header">


<% unless request.host =~ /www\.toou\.gifts/ %>
<div class="alert-warning text-center m-2" role="alert">
  TEST VERSION <br/> Promotions are not real and credit cards will not be charged 
</div>
<% end %>

<div class="text-right sign-out pr-3"></div>

<div class="flash">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</div>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
<footer class="footer">
  <div class="container w-100 text-center">
    <div class="text-muted">©2019 TooU Incorporated</div>
  </div>
</footer>
  
</div>
</html>
