<!DOCTYPE html>
<html>
<head>
  <title>TooU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <script src="https://js.stripe.com/v3/"></script>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <% if session["auth_token"] %>
    <ul class="navbar-nav">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Go To</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Logs", '/admin/logs', class: 'dropdown-item' %>
            <%= link_to "Passes", '/admin/passes', class: 'dropdown-item' %>
            <%= link_to "Orders", '/admin/orders', class: 'dropdown-item' %>
            <%= link_to "Accounts", '/admin/accounts', class: 'dropdown-item' %>
            <%= link_to "Cards", '/admin/cards', class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "logout", '/admin/logout', class: 'dropdown-item' %>
          </div>
        </li>
    </ul>
  <% end %>
  <a class="navbar-brand mx-auto" href="/"></a>
  
</nav>

<div class="flash">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</div>

<div class="alert-warning text-center m-2" role="alert">
  This is an Alpha Version.  Promotions are not real and credit cards will not be charged.
</div>
<%= yield %>


</body>
<footer class="footer">
  <div class="container w-100 text-center">
    <div class="text-muted">©2019 TooU Incorporated, All Rights Reserved</div>
  </div>
</footer>
</html>
